.main{
    border: 1px solid;
    width: 260px;
    padding: 5px;
}
.fname{
   padding-top: 5px;
    display: flex;
}
.name{
    width: 80px;
    border: 1px solid;
    padding-top: 5px;
}
.gender{
    width: 175px;
    border: 1px solid;
}
.marital{
    width: 175px;
    border: 1px solid;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.main1{
    border: 1px solid;
    width: 300px;
    padding-top: 5px;
}
.name1{
    display: flex;
    padding: 5px;
    
    
}
#outputName{
    border: 1px solid;
    height: 20px;
    width: 260px;
    padding-top: 5px;
}
#outputGender{
    border: 1px solid;
    height: 20px;
    width: 260px;
    padding-top: 5px;

}
#outputMarital{
    border: 1px solid;
    height: 20px;
    width: 260px;
    padding-top: 5px;

}
#outputDep{
    border: 1px solid;
    height: 20px;
    width: 300px;
    padding-top: 5px;

}
#outputTA{
    border: 1px solid;
    height: 20px;
    width: 260px;
    padding-top: 5px;

}
#outputDA{
    border: 1px solid;
    height: 20px;
    width: 260px;
    padding-top: 5px;

}
#outputHRA{
    border: 1px solid;
    height: 20px;
    width: 260px;
    padding-top: 5px;

}
#outputLIC{
    border: 1px solid;
    height: 20px;
    width: 260px;
    padding-top: 5px;

}
#outputPF{
    border: 1px solid;
    height: 20px;
    width: 260px;
    padding-top: 5px;

}
#outputNET{
    border: 1px solid;
    height: 20px;
    width: 260px;
    padding-top:5px

}
.names{
    width: 135px;
    border: 1px solid;
    padding-top: 5px;
}